:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --v-pale-blue: hsl(225, 100%, 98%);
  --des-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}
* {
  /* border: 1px red solid; */
}
body {
  box-sizing: border-box;
  font: 10px/25px 'Red Hat Display', sans-serif;
  color: var(--des-blue);
  text-align: center;
  background: no-repeat url("/Challenge-1/images/pattern-background-desktop.svg") var(--pale-blue);
  margin: 0;
  padding: 70px 0;
}

.bubble {
  background-color: #fff;
  width: 450px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 70px -30px var(--des-blue);
}
.container {
  padding: 20px 45px 40px 45px;
}
h1, h2 {
  font-weight: 900;
  color: var(--dark-blue);
}

h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 1.7em;
  white-space: nowrap;
}
h1 + p {
  padding: 10px 0;
}
p, a {
  font-size: 1.6em;
}

a:link:not(#change), 
a:visited:not(#change), 
a:active  {
  /* color:hsl(245, 75%, 52%); */
  text-decoration: none;
  font-weight: 900;
}

.plan-box {
  background-color: var(--v-pale-blue);
  border-radius: 15px;
  display: grid;
  grid-template-areas:
    "music text change"
    "music text change";
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 15px;
  place-items: center right;
  line-height: 15px;
  padding: 20px 0;
  margin: 20px 0;
}
.music {
  grid-area: music;
}
.plan-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: text;
}

.plan-text > * {
  margin: 6px 0;
}

.change {
  grid-area: change;
  justify-self: right;
  padding: 0 30px;
  font-weight: 700;
}

.payment {
  padding: 15px 30px;
  display: block;
  color: #fff;
  background-color: var(--bright-blue);
  border-radius: 10px;
  margin: 30px 0 35px 0;
  box-shadow: 0px 20px 40px -10px var(--des-blue)
}

.cancel {
  color: var(--des-blue);
}